<%- include('../partials/header') %>   

<body>
    

    <div class="container-xxl px-md-5 bg-white shadow-lg">
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-3"></div>
                <a href="/profiles" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" id="homelogo">
                    <img class ="logoimg" src="/images/uflogo2.png" />
                    <!-- <h1 class="titlelogo"> UrbanFork </h1> -->
                </a>
          
                <div class="col-md-3 text-end">
                  <button type="button" class="btn btn-outline-primary me-2">Login</button>
                  <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
              </header>

<div>
    <img class="coverimg" src="/images/coverimage.png"/>
</div>

<div id="foodies">
    <hr>
<h2 class="foodieusers">Foodies</h2>
<div class="container">
<div class="row">
   <% profiles.forEach((profiles) => { %>
        <a href="/profiles/<%=profiles._id%>" class="d-flex align-items-center text-dark text-decoration-none">
            <div>
                <img src="futuregoogleavatar.png" class="card-img-top" id="googimg">
                <br>
                <h3><%=profiles.name%></h3>
            </div>
        </a>
    <% }); %>
</div>
</div>
</div>



<!-- 
<div class="row"> 
    <div class="col-12" id="foodies">
        <h2 id="foodieusers">Foodies</h2>
        <ul class="users">  
            <% profiles.forEach((profiles) => { %>
            <div id="test">

                
                <a href="/profiles/<%=profiles._id%>" class="d-flex align-items-center text-dark text-decoration-none"><%=profiles.name%><br></a>
            </div>
            <% }); %>

        </ul>
    </div>
</div> -->






<%- include('../partials/footer') %>   