<%- include('../partials/header') %>

<h2><%=profile.name%>'s Favorite Restaurants</h2>



    <% profile.restaurants.forEach(function(r) { %>
        <a href="/profiles/<%=profile._id%>/restaurants/<%=r._id%>">
        <div class="indiv-restaurant">
        <div><%= r.name %></div>
        <div><%= r.city %></div>
        <div><%= r.cuisine %></div>
        </div>
        </a>
    <% }) %>




<a href="/profiles/<%=profile._id%>/restaurants/new">Add New</a>

<%- include('../partials/footer') %>