<%- include('partials/header') %>   

<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg" id="aboutpage">
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/profiles" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img class ="logoimg" src="/images/uflogo2.png" />
                    <!-- <h1 class="titlelogo"> UrbanFork </h1> -->
                </a>
          
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                  <% if (user) { %>
                  <li><a href="/profiles" class="nav-link px-2 link-secondary"> Home</a></li>
                  <li><a href="/profiles/<%=user._id%>/restaurants/new" class="nav-link px-2 link-dark">Add</a></li>
                  <li><a href="/profiles/<%=user._id%>" class="nav-link px-2 link-dark">Browse My List</a></li>
                 
                

                  <% }else{ %>
                    <!-- <li><a href="/profiles" class="nav-link px-2 link-secondary"> Home</a></li> -->
                  <% } %>
                </ul>
          
                <div class="col-md-3 text-end">
                    <% if (user) { %>
                        <div class="dropdown">
                            <a href="#" class="link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src=<%=user.avatarURL%> width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                              <li><a class="dropdown-item" href="/profiles/<%=user._id%>/restaurants/new">Add to my list</a></li>
                              <li><a class="dropdown-item" href="/profiles/<%=user._id%>">Browse my list</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                            </ul>
                          </div>
                    <% }else{ %>
                        <a href="/auth/google" class="text-dark text-muted text-decoration-none"><i class="bi bi-person-circle text-muted"></i>&nbsp; Hello, Sign In</a>
                    <% } %>
                </div>
              </header>
              <!-- Header ends here -->

              
              Hello world!
              we love food!
              <form>
                <input type="button" class="btn btn-primary" value="Go back" onclick="history.back()">
              </form>
             

<%- include('partials/footer') %>   