<%- include('partials/header') %>   

<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg" id="aboutpage">
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/profiles" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img class ="logoimg" src="/images/uflogo2.png" />
                    <!-- <h1 class="titlelogo"> UrbanFork </h1> -->
                </a>
          
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/profiles" class="nav-link px-2 link-secondary">Home</a></li>
                  <% if (profile._id.equals(user && user._id)) { %>   
                  <li><a href="/profiles/<%=profile._id%>/restaurants/new" class="nav-link px-2 link-dark">Add</a></li>
                  <% } %>
                  <li><a href="/profiles/<%=profile._id%>" class="nav-link px-2 link-dark">Browse</a></li>
                  <li><a href="/profiles/<%=profile._id%>/about" class="nav-link px-2 link-dark">About</a></li>
                </ul>
          
                <div class="col-md-3 text-end">
                  <button type="button" class="btn btn-outline-primary me-2">Login</button>
                  <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
              </header>
              <!-- Header ends here -->


              Hello world!
              we love food!

<%- include('partials/footer') %>   