<%- include('../partials/header') %> 
<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg">
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/profiles" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img class ="logoimg" src="/images/uflogo2.png" />
                    <!-- <h1 class="titlelogo"> UrbanFork </h1> -->
                </a>
          
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/profiles" class="nav-link px-2 link-secondary">Home</a></li>
                  <li><a href="/profiles/<%=profile._id%>/restaurants/new" class="nav-link px-2 link-dark">Add</a></li>
                  <li><a href="/profiles/<%=profile._id%>" class="nav-link px-2 link-dark">Browse</a></li>
                  <li><a href="/profiles/<%=profile._id%>/about" class="nav-link px-2 link-dark">About</a></li>
                </ul>
          
                <div class="col-md-3 text-end">
                  <button type="button" class="btn btn-outline-primary me-2">Login</button>
                  <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
              </header>
              <!-- Header ends here -->



<form id="submit-form" action="/restaurants/<%= restaurants.id%>?_method=PUT" method="POST">
    

    <label>Name:</label>
    <input type="text" name="name" value="<%=restaurants.name%>">
    <label>Cuisine:</label>
    <input type="text" name="cuisine" value="<%=restaurants.cuisine%>">
    <label>Money</label>
    <select name="money" value="<%=restaurants.money%>">
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
        <option value="$$$$">$$$$</option>
      </select>
    <label>City</label>
    <select name="city" value="<%=restaurants.city%>">
        <option value="Austin">Austin</option>
        <option value="Boston">Boston</option>
        <option value="Boulder">Boulder</option>
        <option value="Chicago">Chicago</option>
        <option value="NYC">NYC</option>
    </select>
    <label>Location</label>
    <input type="text" name="location" value="<%=restaurants.location%>">
    <label>Recommended Menu:</label>
    <input type="text" name="recmenu" value="<%=restaurants.recMenu%>">
    <label>Comment:</label>
    <input type="text" name="comment" value="<%=restaurants.comment%>">
    <input type="submit"value="Update">

    
</form>



<%- include('../partials/footer') %>   