<%- include('../partials/header') %> 
<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg">
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/profiles" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <img class ="logoimg" src="/images/uflogo2.png" />
                        <!-- <h1 class="titlelogo"> UrbanFork </h1> -->
                </a>
          
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/profiles" class="nav-link px-2 link-secondary">Home</a></li>
                  <li><a href="/profiles/<%=profile._id%>/restaurants/new" class="nav-link px-2 link-dark">Add</a></li>
                  <li><a href="/profiles/<%=profile._id%>" class="nav-link px-2 link-dark">Browse</a></li>
                  <li><a href="/profiles/<%=profile._id%>/about" class="nav-link px-2 link-dark">About</a></li>
                </ul>
          
                <div class="col-md-3 text-end">
                  <button type="button" class="btn btn-outline-primary me-2">Login</button>
                  <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
              </header>
              <!-- Header ends here -->

<div>
        <a class="btn btn-primary" href="/profiles/<%=profile._id%>" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>&nbsp;Back to list
        </a>
        <h1>deets</h1>
    
        <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="jumbotron">
                <h1 class="display-4"><%= restaurants.name %></h1>
                <h2><%= restaurants.city %><div class="location-small"> <%= restaurants.location %></div></h2>
                <p class="lead"><%= restaurants.cuisine %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= restaurants.money %></p>
                <hr class="my-4">
                <p> Top Tier Menu Item(s): <%= restaurants.recMenu %></p>
                <p><div><%= restaurants.comment %></div></p>

                <div class="edit-delete-div">
                <a class="btn btn-primary btn-lg" href="/profiles/<%=profile._id%>/restaurants/<%=restaurants._id%>/edit" role="button">Edit</a>
                <form class="delete-btn" action="/restaurants/<%= restaurants._id %>?_method=DELETE" method="POST">
                        <input class="deletebtn" type="submit" value="Delete" />
                </form>
              </div>


        </div>      

       
</div>

<%- include('../partials/footer') %>   