<%- include('../partials/header') %>

<div class="restaurant-details">
        <div><%= restaurants.name %></div>
        <div><%= restaurants.cuisine %></div>
        <div><%= restaurants.money %></div>
        <div><%= restaurants.city %></div>
        <div><%= restaurants.location %></div>
        <div><%= restaurants.recMenu %></div>
        <div><%= restaurants.comment %></div>
        </div>
        
</div>

<form action="/restaurants/<%= restaurants._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" />
</form>

<%- include('../partials/footer') %>   