<%- include('../partials/header') %>

<div class="restaurant-details">
        <div><%= restaurants.name %></div>
        <div><%= restaurants.cuisine %></div>
        <div><%= restaurants.money %></div>
        <div><%= restaurants.city %></div>
        <div><%= restaurants.location %></div>
        <div><%= restaurants.recMenu %></div>
        <div><%= restaurants.comment %></div>
        </div>
        
</div>
<a href="/profiles/<%=profile._id%>/restaurants/<%=restaurants._id%>/edit">EDIT</a>

<%- include('../partials/footer') %>   